:root {
    --background: #F8F8FF;
    --text: #2C2C2C;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size:62.5%;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}
/* ESTILO DE LA BARRA DE NAVEGACION */
.navbar-principal {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #fff;
}

.container-left img {
    width: 200px;
    height: 70px;
    margin-left: 45px;
    background-color: #fff;
}

.container-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.container-right ul li {
    margin-right: 30px;
}


.container-right ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.container-right ul li a:hover {
    color: #c77747;
    border-bottom: 0.5px solid #c77747;
}

.container-right ul .fab {
    font-size: 22px;
    margin-left: 1px;
    cursor: pointer;
}

.container-right ul .fb:hover {
    color: blue;
}

.container-right ul .inst:hover {
    color: red;
}
/* FIN ESTILO BARRA DE NAVEGACION */

body {
    background-image: url('../assets/paisaje-dron.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.container-title {
    width: 100%;
    height: 340px;
}

.container-title h1 {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    margin: 60px 0px 30px 0px;
}
.container-title h1:hover {
    font-size: 52px;
    color: #c77747;
    background-color: #00000084;
    transition: background-color 0.7s;
    transition: color 0.9s;
}

.container-title p {
    width: 60%;
    margin: 0 auto;
    font-size: 24px;
    color: #fff;
}

/* IMAGENES E INFO CONTACTO */

.contact__container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.info__contact-container {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #0000006f;;
}

.contact-image {
    max-width: 100%;
    height: auto;
    width: 250px;
    height: 280px;
}
.info__contact-container h2 {
    font-size: 24px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin: 8px 0px;
}
.info__contact-container p {
    font-size: 17px;
    text-align: center;
    color: #fff;
}
.container-btn_article {
    width: 100%;
    height: 130px;
    text-align: center;
}

.btn-article {
    width: 140px;
    height: 50px;
    margin: 35px 30px 35px 0;
    /* background-color: #c77747; */
    background-color: #000;
    border: none;
    border-radius: 6px;
    /* color: #000; */
    color: #c77747;
    cursor: pointer;
    transition: background-color 0.5s;
    font-size: 18px;
    font-weight: 400;
}
.btn-article:hover {
    background-color: #ffd2a1; 
    color: #000;
    font-weight: 600;
}
/* SECCION INFO */

/* GALERIA */

.container-title_galery {
    width: 100%;
    height: 140px;
    background-color: #00000056;
}
.container-title_galery h1 {
    text-align: center;
    font-size: 55px;
    color: #fff;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .gallery__container img {
    width: 100%;
    object-fit: cover;
    height: 100%;
} */
.gallery__container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 220px;
    gap: 20px;
}
.gallery__container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* GALERI FIN */

/* AREA DE TESTIMONIOS */

.container-principal-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 400px;
    margin: 0 auto;
}

.testimonials-header {
    position: sticky;
    top: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    z-index: 1;
    background-color: #00000081;
    color: #fff;
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 16px;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    margin-left: 15px;
}

.testimonials-container::-webkit-scrollbar {
    display: none;  
}

.card-testimonials {
    min-width: 600px; 
    min-height: 300px;
    color: #ffd2a1;
    display: flex;
    border-radius: 16px;
    transition: all 0.8s;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    scroll-snap-align: start;
    background-color: #00000056;
}
.card-testimonials p {
    font-size: 19px;
    line-height: 1.5;
    max-width: 90%;
    color: #fff;
}


.footer {
    margin: 10px 0px;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}



/* ORIENTACION VERTICAL */

/* dispositivo mobile */
@media screen and (min-width: 390px) and (max-width: 844px) {
    .container-left img {
        width: 85px;
        height: 32px;
        margin-left: 5px;
        background-color: #fff;
    }
    .container-right ul li {
        margin-right: 5px;
    }
    .container-right ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
    }
    .container-right ul .fab {
        font-size: 13px;
        margin-left: 1px;
        cursor: pointer;
    }

    .container-title {
        width: 100%;
        height: auto;
    }
    
    .container-title h1 { 
        text-align: center;
        font-size: 29px;
        font-weight: 700;
        color: #c77747;
        margin: 30px 0px 30px 0px;
    }

    .container-title .disable {
        display: none;
    }
    
    .container-title p {
        width: 95%;
        margin: 0 auto;
        font-size: 18px;
        color: #fff;
        background-color: #00000084;
    }
    
    /* IMAGENES E INFO CONTACTO */
    
    .contact__container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }
    
    .info__contact-container {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center;
        width: 48%;
        background-color: #0000006f;
    }
    
    .contact-image {
        max-width: 100%;
        height: auto;
        width: 200px;
    }
    .info__contact-container h2 {
        font-size: 17px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin: 8px 0px;
    }
    .info__contact-container p {
        display: none;
    }
    /* SECCION INFO */
    
    /* GALERIA */
    
    .container-title_galery {
        width: 100%;
        height: 90px;
        background-color: #00000056;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-title_galery h1 {
        text-align: center;
        font-size: 33px;
        color: #c77747;
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gallery__container {
        width: 90%;
        max-width: 1200px;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 170px;
        gap: 20px;
    }
    .gallery__container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    /* GALERI FIN */
    
    
    /* AREA DE TESTIMONIOS */
    
    .container-principal-testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 280px;
        margin: 0 auto;
        color: #c77747;
    }
    
    .testimonials-header {
        position: sticky;
        top: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        font-size: 31px;
        z-index: 1;
        background-color: #00000081;
    }
    
    .testimonials-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding: 16px;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none; 
        scrollbar-width: none;  
        margin-left: 15px;
    }
    
    .testimonials-container::-webkit-scrollbar {
        display: none;  
    }
    
    .card-testimonials {
        min-width: 340px;
        min-height: 200px;
        color: #ffd2a1;
        display: flex;
        border-radius: 16px;
        transition: all 0.8s;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        scroll-snap-align: start;
        background-color: #00000056;
    }
    .card-testimonials p {
        font-size: 17px;
        line-height: 1.4;
        max-width: 90%;
        color: #fff;
    }
}
/* dispositivo tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container-left img {
        width: 135px;
        height: 59px;
        margin-left: 5px;
        background-color: #fff;
    }
    .container-right ul li {
        margin-right: 5px;
    }
    .container-right ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }
    .container-right ul .fab {
        font-size: 15px;
        margin-left: 1px;
        cursor: pointer;
    }
    
    .container-title h1 { 
        text-align: center;
        font-size: 29px;
        font-weight: 700;
        color: #000;
        margin: 30px 0px 30px 0px;
    }
    .container-title h1:hover {
        font-size: 52px;
        color: #c77747;
        background-color: #00000084;
        transition: background-color 0.7s;
        transition: color 0.9s;
    }
    
    .container-title p {
        width: 90%;
        margin: 0 auto;
        font-size: 23px;
        color: #fff;
        background-color: #00000084;
    }
    
    /* IMAGENES E INFO CONTACTO */
    
    .contact__container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    
    .info__contact-container {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        width: 100%;
        background-color: #0000006f;;
    }
    
    .contact-image {
        max-width: 100%;
        height: auto;
        width: 200px;
    }
    .info__contact-container h2 {
        font-size: 20px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin: 8px 0px;
    }
    .info__contact-container p {
        font-size: 17px;
        text-align: center;
        color: #fff;
    }
    /* SECCION INFO */
    
    /* GALERIA */
    
    .container-title_galery {
        width: 100%;
        height: 90px;
        background-color: #00000056;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-title_galery h1 {
        text-align: center;
        font-size: 33px;
        color: #c77747;
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gallery__container {
        width: 95%;
        max-width: 1200px;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 200px;
        gap: 15px;
    }
    
    /* GALERI FIN */
    
    /* AREA DE TESTIMONIOS */
    
    .container-principal-testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 280px;
        margin: 0 auto;
        color: #c77747;
    }
    
    .testimonials-header {
        position: sticky;
        top: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        font-size: 31px;
        z-index: 1;
        background-color: #00000081;
    }
    
    .testimonials-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding: 16px;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none; 
        scrollbar-width: none;  
        margin-left: 15px;
    }
    
    .testimonials-container::-webkit-scrollbar {
        display: none;  
    }
    
    .card-testimonials {
        min-width: 340px;
        min-height: 200px;
        color: #ffd2a1;
        display: flex;
        border-radius: 16px;
        transition: all 0.8s;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        scroll-snap-align: start;
        background-color: #00000056;
    }
    .card-testimonials p {
        font-size: 17px;
        line-height: 1.4;
        max-width: 90%;
        color: #fff;
    }
}

/* ORIENTACION HORIZONTAL */

/* Dispositivo mobile */
@media screen and (min-width: 390px) and (max-width: 844px) and (orientation: landscape) {
    .container-left img {
        width: 135px;
        height: 59px;
        margin-left: 5px;
        background-color: #fff;
    }
    .container-right ul li {
        margin-right: 5px;
    }
    .container-right ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
    }
    .container-right ul .fab {
        font-size: 15px;
        margin-left: 1px;
        cursor: pointer;
    }
    
    .container-title h1 { 
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        color: #000;
        margin: 30px 0px 30px 0px;
    }
    .container-title h1:hover {
        font-size: 52px;
        color: #c77747;
        background-color: #00000084;
        transition: background-color 0.7s;
        transition: color 0.9s;
    }
    
    .container-title p {
        width: 90%;
        margin: 0 auto;
        font-size: 19px;
        color: #fff;
        background-color: #00000084;
    }
    
    /* IMAGENES E INFO CONTACTO */
    
    .contact__container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    
    .info__contact-container {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        width: 100%;
        background-color: #0000006f;;
    }
    
    .contact-image {
        max-width: 100%;
        height: auto;
        width: 200px;
    }
    .info__contact-container h2 {
        font-size: 20px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin: 8px 0px;
    }
    .info__contact-container p {
        font-size: 15px;
        text-align: center;
        color: #fff;
    }
    /* SECCION INFO */
    
    /* GALERIA */
    
    .container-title_galery {
        width: 100%;
        height: 90px;
        background-color: #00000056;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-title_galery h1 {
        text-align: center;
        font-size: 33px;
        color: #c77747;
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gallery__container {
        width: 90%;
        max-width: 1200px;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 200px;
        gap: 15px;
    }
    
    /* GALERI FIN */
    
    /* AREA DE TESTIMONIOS */
    
    .container-principal-testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 280px;
        margin: 0 auto;
        color: #c77747;
    }
    
    .testimonials-header {
        position: sticky;
        top: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        font-size: 31px;
        z-index: 1;
        background-color: #00000081;
    }
    
    .testimonials-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding: 16px;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none; 
        scrollbar-width: none;  
        margin-left: 15px;
    }
    
    .testimonials-container::-webkit-scrollbar {
        display: none;  
    }
    
    .card-testimonials {
        min-width: 340px;
        min-height: 200px;
        color: #ffd2a1;
        display: flex;
        border-radius: 16px;
        transition: all 0.8s;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        scroll-snap-align: start;
        background-color: #00000056;
    }
    .card-testimonials p {
        font-size: 17px;
        line-height: 1.4;
        max-width: 90%;
        color: #fff;
    }
}
/* dispositivo tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container-left img {
        width: 135px;
        height: 59px;
        margin-left: 5px;
        background-color: #fff;
    }
    .container-right ul li {
        margin-right: 5px;
    }
    .container-right ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }
    .container-right ul .fab {
        font-size: 15px;
        margin-left: 1px;
        cursor: pointer;
    }
    
    .container-title h1 { 
        text-align: center;
        font-size: 29px;
        font-weight: 700;
        color: #000;
        margin: 30px 0px 30px 0px;
    }
    .container-title h1:hover {
        font-size: 52px;
        color: #c77747;
        background-color: #00000084;
        transition: background-color 0.7s;
        transition: color 0.9s;
    }
    
    .container-title p {
        width: 90%;
        margin: 0 auto;
        font-size: 23px;
        color: #fff;
        background-color: #00000084;
    }
    
    /* IMAGENES E INFO CONTACTO */
    
    .contact__container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    
    .info__contact-container {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        width: 100%;
        background-color: #0000006f;;
    }
    
    .contact-image {
        max-width: 100%;
        height: auto;
        width: 200px;
    }
    .info__contact-container h2 {
        font-size: 20px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin: 8px 0px;
    }
    .info__contact-container p {
        font-size: 17px;
        text-align: center;
        color: #fff;
    }
    /* SECCION INFO */
    
    /* GALERIA */
    
    .container-title_galery {
        width: 100%;
        height: 90px;
        background-color: #00000056;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-title_galery h1 {
        text-align: center;
        font-size: 33px;
        color: #c77747;
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gallery__container {
        width: 95%;
        max-width: 1200px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        grid-auto-rows: 200px;
        gap: 15px;
    }
    
    /* GALERI FIN */
    
    /* AREA DE TESTIMONIOS */
    
    .container-principal-testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 280px;
        margin: 0 auto;
        color: #c77747;
    }
    
    .testimonials-header {
        position: sticky;
        top: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        font-size: 31px;
        z-index: 1;
        background-color: #00000081;
    }
    
    .testimonials-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding: 16px;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none; 
        scrollbar-width: none;  
        margin-left: 15px;
    }
    
    .testimonials-container::-webkit-scrollbar {
        display: none;  
    }
    
    .card-testimonials {
        min-width: 340px;
        min-height: 200px;
        color: #ffd2a1;
        display: flex;
        border-radius: 16px;
        transition: all 0.8s;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        scroll-snap-align: start;
        background-color: #00000056;
    }
    .card-testimonials p {
        font-size: 17px;
        line-height: 1.4;
        max-width: 90%;
        color: #fff;
    }
}
















