#productos-container {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 12px;
}
.tarjeta-producto {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.tarjeta-producto img {
    height: 100px;
    aspect-ratio: 1.5;
    margin-bottom: 22px;
}
.tarjeta-producto h3 {
    width: 180px;
    font-size: 17px;
    text-align: center;
}
.tarjeta-producto p {
    font-size: 15px;
}
#totales, #carrito-vacio {
    text-align: center;
}
#totales p {
    font-size: 15px;
    margin-bottom: 8px;
}
.btn {
    background-color: #c77747;
    color: #000;
    padding: 5px 10px;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 30px;
    font-size: 14px;
    margin: 5px 8px 0 0;
}
button {
    background-color: #c77747;
    color: #000;
    padding: 6px 10px;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
}
.cantidad {
    font-size: 14px;
    margin: 0 8px;
}
main #carrito-vacio {
    font-size: 18px;
}



/*  ---------------------------- MEDIA QUERY ----------------------------  */

/*  DISPOSITIVO MOVIL */

/*  orientacion vertical */
@media screen and (min-width: 390px) and (max-width: 767px) {

    /* ESTILO DE LA BARRA DE NAVEGACION */
    
    .navbar-principal {
        background-color: #000000;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .container-left img {
        width: 100px;
        height: 45px;
        margin-left: 12px;
    }
    
    /* ESTILO AL MENU HAMBURGUESA */

    .container-right .menu {
        display: none;
    }
   
    .container-right .hamburger-menu {
        display: block;
    }

    .container-right.active .menu {
        display: block;
        width: 100%;
        background-color: #000000e3;
        position: absolute;
        top: 34px;
        right: 0px;
        z-index: 1;
    }

    .container-right.active .menu li  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px 15px 20px;
    }
    .container-right.active .menu li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
    }
    
    .bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px 12px;
        transition: 0.4s;
    }

    
    .container-right.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .container-right.active .bar:nth-child(2) {
        opacity: 0;
    }

    .container-right.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    /*  FIN BARRA DE NAVEGACION  */

    #productos-container {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80%;
    }

    .tarjeta-producto {
        max-width: 400px;
        text-align: center;
        background-color: rgba(128, 128, 128, 0.158);
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.222);
        transition: 200ms;
        margin-bottom: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .tarjeta-producto img {
        width: 100%;
        /* aspect-ratio: 2.5; */
        height: auto;
        margin-bottom: 0px;
    }
    .tarjeta-producto h3 {
        font-size: 21px;
        padding: 3px;
        width: 80%;
        height: 30px;
        margin-bottom: 13px;
    }
    .tarjeta-producto p {
        font-size: 22px;
        margin-bottom: 5px;
        font-weight: bold;
        color: #808080b8;
    }
    button {
        background-color: #c77747;
        color: #000;
        padding: 5px 10px;
        border: unset;
        border-radius: 5px;
        cursor: pointer;
        width: 50px;
        height: 30px;
        font-size: 16px;
        /* margin-top: -3px; */
    }
    .tarjeta-producto span {
        font-size: 22px;
        margin-bottom: 6px;
        font-weight: bold;
    }
}
