* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
}
a {
    list-style: none;
    text-decoration: none;
}

/* ESTILO DE LA BARRA DE NAVEGACION */

.navbar-principal {
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-left img {
    width: 200px;
    height: 70px;
    background-color: #fff;
}

.container-right {
    margin-right: 10px;
}

.container-right ul {
    display: flex;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

.container-right ul li {
    margin-right: 15px; 
}

.container-right ul li:last-child {
    margin-right: 0; 
}

.container-right ul li a {
    color: #fff;
    font-size: 17px;
    position: relative;
}

.container-right ul li a:hover {
    color: #c77747;
}

.container-right .ingreso {
    display: none;
}
.container-right .registrer {
    display: none;
}
.container-right .menu img {
    width: 35px;
    margin-right: 15px;
    filter: invert(100%);
}

.container-right #cuenta-carrito {
    background-color: #ee6130;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
    right: 2px;
}

/* ESTILO AL MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-main {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .container-image_fondo {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/portada-dron.jpeg');
    background-clip: url('../assets/video-presentacion.mp4');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
} */

.container-main .row-user {
    display: flex;
    justify-content: flex-end;
}

.container-main .ingreso {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
.container-main .registrer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
.container-main .ingreso:hover {
    color: #ff96ad;
}
.container-main .registrer:hover {
    color: #ff96ad;
}

.container-image_fondo {
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden; 
}
.container-image_fondo video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.container-info_home {
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 1;
}

.container-info_home h1 {
    font-size: 4.2rem;
    color: #fff;
    margin-top: 6rem;
    margin-bottom: 43rem;
    font-weight: 500;
    background-color: #00000069;
}

.container-info_home button {
    width: 15rem;
    height: 4.3rem;
    background-color: #fdf7dd;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    
}
.container-info_home button a {
    text-decoration: none;
    list-style: none;
    color: #000;
}
.container-info_home button a:hover {
    color: #ff96ad;
}

.container-info_home button:hover {
    border: 1px solid #ff96ad;
    background-color: #17181c;
    color: #ff96ad;
    transition: all 0.5s;
}

.container-info_home .footer {
    margin-top: 1.1rem;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
}


/*  ---------------------------- MEDIA QUERY ----------------------------  */

/*  DISPOSITIVO MOVIL */

/*  orientacion vertical */
@media screen and (min-width: 390px) and (max-width: 767px) {

    .container-main .row-user {
        display: none;
    }
    .container-left img {
        width: 110px;
        height: 43px;
        margin-left: 12px;
        background-color: #fff;
    }

    .container-info_home h1 {
        font-size: 1.8rem;
        margin-top: 2rem;
        margin-bottom: 42.3rem;
        color: #fff;
        background-color: #00000067;
        font-weight: 400;
        line-height: 1.4;
    }
    .container-info_home button {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.4rem;
    }
        
    .container-info_home .footer {
        margin-top: 0.7rem;
        font-size: 1.1rem;
    }

    /* ESTILO AL MENU HAMBURGUESA */

    .container-right .menu {
        display: none;
    }
   
    .container-right .hamburger-menu {
        display: block;
    }

    .container-right.active .menu {
        display: block;
        width: 100%;
        background-color: #000000e3;
        position: absolute;
        top: 45px;
        right: 0px;
        z-index: 1;
    }

    .container-right.active .menu li  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px 15px 20px;
    }
    .container-right.active .menu li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
    }
    
    .bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px 12px;
        transition: 0.4s;
    }

    
    .container-right.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .container-right.active .bar:nth-child(2) {
        opacity: 0;
    }

    .container-right.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .container-right .menu img {
        width: 30px;
        margin-right: 15px;
        filter: invert(100%);
    }
    .container-right #cuenta-carrito {
        background-color: #ee6130;
        border-radius: 100%;
        display: inline-block;
        width: 17px;
        line-height: 18px;
        aspect-ratio: 1;
        text-align: center;
        position: absolute;
        right: 2px;
    }
}

/*  orientacion vertical */
@media screen and (min-width: 390px) and (max-width: 767px) and (orientation: landscape) {

    .container-left img {
        width: 120px;
        height: 50px;
        margin-left: 12px;
        background-color: #fff;
    }

    .container-info_home h1 {
        font-size: 2.1rem;
        margin-top: 1.5rem;
        margin-bottom: 9.5rem;
        color: #fff;
        background-color: #00000067;
        font-weight: 400;
        line-height: 1.4;
    }
    .container-info_home button {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.4rem;
    }
        
    .container-info_home .footer {
        margin-top: 0.8rem;
        font-size: 1.1rem;
    }

    /* ESTILO AL MENU HAMBURGUESA */

    .container-right .menu {
        display: none;
    }
   
    .container-right .hamburger-menu {
        display: block;
    }

    .container-right.active .menu {
        display: block;
        width: 100%;
        background-color: #000000e3;
        position: absolute;
        top: 50px;
        right: 0px;
        z-index: 1;
    }

    .container-right.active .menu li  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px 15px 20px;
    }
    .container-right.active .menu li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
    }
    
    .bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px 12px;
        transition: 0.4s;
    }

    
    .container-right.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .container-right.active .bar:nth-child(2) {
        opacity: 0;
    }

    .container-right.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


/*  DISPOSITIVO TABLET */

/*  orientacion vertical */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container-left img {
        width: 120px;
        height: 50px;
        margin-left: 12px;
        background-color: #fff;
    }

    .container-info_home h1 {
        font-size: 3.6rem;
        margin-top: 4rem;
        margin-bottom: 66rem;
        color: #fff;
        background-color: #00000087;
        font-weight: 300;
        line-height: 1.4;
    }
    .container-info_home button {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.4rem;
    }
        
    .container-info_home .footer {
        margin-top: 0.8rem;
        font-size: 1.1rem;
    }
}

/*  orientacion horizontal */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .container-left img {
        width: 120px;
        height: 50px;
        margin-left: 12px;
        background-color: #fff;
    }

    .container-info_home h1 {
        font-size: 3.6rem;
        margin-top: 4rem;
        margin-bottom: 41rem;
        color: #fff;
        background-color: #00000087;
        font-weight: 300;
        line-height: 1.4;
    }
    .container-info_home button {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.4rem;
    }
        
    .container-info_home .footer {
        margin-top: 0.8rem;
        font-size: 1.1rem;
    }
}


/*  DISPOSITIVO TABLET */

@media screen and (min-width: 1650px) and (max-width: 1050px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        overflow: hidden;
    }
    a {
        list-style: none;
        text-decoration: none;
    }
    
    /* ESTILO DE LA BARRA DE NAVEGACION */
    
    .navbar-principal {
        background-color: #000000;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .container-left img {
        width: 200px;
        height: 70px;
        background-color: #fff;
    }
    
    .container-right {
        margin-right: 10px;
    }
    
    .container-right ul {
        display: flex;
        list-style-type: none;
        margin: 0; 
        padding: 0; 
    }
    
    .container-right ul li {
        margin-right: 15px; 
    }
    
    .container-right ul li:last-child {
        margin-right: 0; 
    }
    
    .container-right ul li a {
        color: #fff;
        font-size: 17px;
        position: relative;
    }
    
    .container-right ul li a:hover {
        color: #c77747;
    }
    
    .container-right .ingreso {
        display: none;
    }
    .container-right .registrer {
        display: none;
    }
    .container-right .menu img {
        width: 35px;
        margin-right: 15px;
        filter: invert(100%);
    }
    
    .container-right #cuenta-carrito {
        background-color: #ee6130;
        border-radius: 100%;
        display: inline-block;
        width: 20px;
        line-height: 20px;
        aspect-ratio: 1;
        text-align: center;
        position: absolute;
        right: 2px;
    }
    
    /* ESTILO AL MAIN */
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .container-main {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    /* .container-image_fondo {
        width: 100%;
        height: 100vh;
        background-image: url('../assets/portada-dron.jpeg');
        background-clip: url('../assets/video-presentacion.mp4');
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    } */
    
    .container-main .row-user {
        display: flex;
        justify-content: flex-end;
    }
    
    .container-main .ingreso {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;
    }
    .container-main .registrer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;
    }
    .container-main .ingreso:hover {
        color: #ff96ad;
    }
    .container-main .registrer:hover {
        color: #ff96ad;
    }
    
    .container-image_fondo {
        width: 100vw; 
        height: 100vh; 
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden; 
    }
    .container-image_fondo video {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
    
    .container-info_home {
        width: 100%;
        height: 100vh;
        text-align: center;
        z-index: 1;
    }
    
    .container-info_home h1 {
        font-size: 36px;
        color: #fff;
        margin-top: 1rem;
        margin-bottom: 65rem;
        font-weight: 500;
        background-color: #00000069;
    }
    
    .container-info_home button {
        width: 15rem;
        height: 4.3rem;
        background-color: #fdf7dd;
        color: #000;
        border: none;
        border-radius: 5px;
        font-size: 1.8rem;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
        
    }
    .container-info_home button a {
        text-decoration: none;
        list-style: none;
        color: #000;
    }
    .container-info_home button a:hover {
        color: #ff96ad;
    }
    
    .container-info_home button:hover {
        border: 1px solid #ff96ad;
        background-color: #17181c;
        color: #ff96ad;
        transition: all 0.5s;
    }
    
    .container-info_home .footer {
        margin-top: 1.1rem;
        font-size: 1.3rem;
        color: #fff;
        font-weight: 400;
    }
    .hamburger-menu {
        display: none;
        cursor: pointer;
    }
}































    
