* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size:62.5%;
    overflow: hidden;
}
a {
    list-style: none;
    text-decoration: none;
}
/* ESTILO DE LA BARRA DE NAVEGACION */
.navbar-principal {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #fff;
}

.container-left img {
    width: 200px;
    height: 70px;
    margin-left: 45px;
    background-color: #fff;
}

.container-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.container-right ul li {
    margin-right: 30px;
}


.container-right ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.container-right ul li a:hover {
    color: #c77747;
    border-bottom: 0.5px solid #c77747;
}

.container-right ul .fab {
    font-size: 22px;
    margin-left: 1px;
    cursor: pointer;
}

.container-right ul .fb:hover {
    color: blue;
}

.container-right ul .inst:hover {
    color: red;
}

/* FIN ESTILO BARRA DE NAVEGACION */

/* ESTILO AL MAIN */
main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-main {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-image_fondo {
    width: 100%;
    height: 100vh; 
    background-image: url('../assets/portada-dron.jpeg'); 
    background-size: cover; 
    background-position: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1; 
}

.container-info_home {
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 1; /* Asegura que los elementos de texto estén delante del fondo */
}

.container-info_home h1 {
    font-size: 42px;
    color: #0b0b0b;
    margin-top: 60px;
    margin-bottom: 50px;
    font-weight: 700;
}

.container-info_home button {
    width: 140px;
    height: 45px;
    background-color: #fdf7dd;
    color: red;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
     
}

.container-info_home button:hover {
    background-color: #000;
    color: #c77747; 
}


.container-info_home .footer {
    margin-top: 380px;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
}

/* FIN AL ESTILO DEL MAIN */


