* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
}
a {
    list-style: none;
    text-decoration: none;
}

/* ESTILO DE LA BARRA DE NAVEGACION */

.navbar-principal {
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-left img {
    width: 200px;
    height: 70px;
    background-color: #fff;
}

.container-right {
    margin-right: 10px;
}

.container-right ul {
    display: flex;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

.container-right ul li {
    margin-right: 15px; 
}

.container-right ul li:last-child {
    margin-right: 0; 
}

.container-right ul li a {
    color: #fff;
    font-size: 17px;
    position: relative;
}

.container-right ul li a:hover {
    color: #c77747;
}

.container-right ul .fab {
    font-size: 22px;
    margin-left: 1px;
    cursor: pointer;
}
.container-right ul .fb:hover {
    color: blue;
}

.container-right ul .inst:hover {
    color: red;
}


/* ESTILO AL MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-main {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .container-image_fondo {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/portada-dron.jpeg');
    background-clip: url('../assets/video-presentacion.mp4');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
} */

.container-image_fondo {
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden; 
}
.container-image_fondo video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.container-info_home {
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 1;
}

.container-info_home h1 {
    font-size: 4.2rem;
    color: #fff;
    margin-top: 6rem;
    margin-bottom: 43rem;
    font-weight: 500;
    background-color: #00000069;
}

.container-info_home button {
    width: 15rem;
    height: 4.3rem;
    background-color: #fdf7dd;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    
}
.container-info_home button a {
    text-decoration: none;
    list-style: none;
    color: #000;
}
.container-info_home button a:hover {
    color: #ff96ad;
}

.container-info_home button:hover {
    border: 1px solid #ff96ad;
    background-color: #17181c;
    color: #ff96ad;
    transition: all 0.5s;
}

.container-info_home .footer {
    margin-top: 1.1rem;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
}













/* MEDIA QUERY PARA DISPOSITIVOS TABLET */

/* Medida vertical */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* ------------------------------------ MENU INICIO ------------------------------------ */
    .container-left img {
        width: 200px;
        height: 70px;
        background-color: #fff;
    }
    .container-right ul li a {
        color: #fff;
        font-size: 17px;
        position: relative;
    }
    .container-info_home h1 {
        font-size: 4.2rem;
        color: #0b0b0b;
        margin-top: 6rem;
        margin-bottom: 5rem;
        font-weight: 700;
    }
    .container-info_home button {
        width: 14rem;
        height: 4.5rem;
        background-color: #fdf7dd;
        color: red;
        border: none;
        border-radius: 5px;
        font-size: 1.8rem;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
    }
    .container-info_home .footer {
        margin-top: 50rem;
        font-size: 1.3rem;
        color: #fff;
        font-weight: 400;
    }
    .container-right #menuBtn {
        display: none; 
    }
    .container-right #menuMobile {
        display: block; 
    }
    
}

/* Medida horizontal */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container-left img {
        width: 200px;
        height: 70px;
        background-color: #fff;
    }
    .container-right ul li a {
        color: #fff;
        font-size: 17px;
        position: relative;
    }
    .container-info_home h1 {
        font-size: 4.2rem;
        color: #0b0b0b;
        margin-top: 6rem;
        margin-bottom: 5rem;
        font-weight: 700;
    }
    .container-info_home button {
        width: 14rem;
        height: 4.5rem;
        background-color: #fdf7dd;
        color: red;
        border: none;
        border-radius: 5px;
        font-size: 1.8rem;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
    }
    .container-info_home .footer {
        margin-top: 50rem;
        font-size: 1.3rem;
        color: #fff;
        font-weight: 400;
    }
    .menuBtn {
        display: none; /* Inicialmente oculto en pantallas grandes */
    }
    #menuMobile {
        display: block; /* Ocultar en tabletas y pantallas grandes */
    }
}




/* MEDIA QUERY PARA DISPOSITIVOS MOBILE */

/* Medida vertical */
@media screen and (min-width: 390px) and (max-width: 768px) {
/* ------------------------------------ MENU INICIO ------------------------------------ */

.container-right ul li a {
    color: #fff;
    font-size: 11px;
    position: relative;
}
.container-left img {
        width: 70px;
        height: 30px;
        background-color: #fff;
}

.container-info_home h1 {
        font-size: 2.1rem;
        margin-top: 2rem;
        margin-bottom: 43rem;
        color: #fff;
        background-color: #00000067;
        font-weight: 400;
        line-height: 1.4;
}

.container-info_home button {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.4rem;
}
    
.container-info_home .footer {
        margin-top: 0.8rem;
        font-size: 1.1rem;
}
.fas {
    width: 30px;
    height: auto;
}

.menuBtn {
    display: block; /* Mostrar solo en dispositivos móviles */
}
#menuMobile {
    display: none; /* Ocultar en tabletas y pantallas grandes */
}

/*  ESTILO AL BOTON MENU HAMBURGUESA */
#menuMobile {
    display: flex;
    position: fixed;
    top: 0;
    right: 0; /* Cambiado de "left" a "right" para ubicarlo en el lado derecho */
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    padding-top: 50px;
    text-align: left; /* Alinea el texto hacia la izquierda */
}
/* ESTILO AL BOTON MENU HAMBURGUESA */


#menuMobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Ajusta la lista como un flex container */
    flex-direction: column; /* Muestra los elementos en forma de columna */
}

#menuMobile ul li {
    margin-bottom: 16px;
}

#menuMobile ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end; 
    margin-right: 30px;
    text-align: center;
}
#menuMobile .fab {
    display: none;
}

/*  ESTILO AL BOTON CERRA MENU HAMBURGUESA */
#closeMenuBtn {
    position: absolute; /* Posiciona el botón de cierre de manera absoluta dentro del menú */
    top: 10px; /* Ajusta la posición vertical */
    right: 10px; /* Ajusta la posición horizontal */
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    font-size: 24px; /* Tamaño de fuente */
    color: #fff; /* Color del texto */
    cursor: pointer; /* Cursor de puntero */
    outline: none; /* Quita el contorno al hacer clic */
}

}

/* Medida horizontal */
@media screen and (min-width: 390px) and (max-width: 768px) and (orientation: landscape) {
    /* ------------------------------------ MENU INICIO ------------------------------------ */
    .container-left img {
        width: 140px;
        height: 50px;
        background-color: #fff;
    }
    .container-right ul li a {
        color: #fff;
        font-size: 15px;
        position: relative;
    }
    .container-right ul .fab {
        font-size: 18px;
        margin-left: 1px;
        cursor: pointer;
    }
    .container-info_home h1 {
        font-size: 2.7rem;
        color: #0b0b0b;
        margin-top: 2rem;
        margin-bottom: 14rem;
        font-weight: 400;
        color: #c77747;
    }
    .container-info_home button {
        width: 12rem;
        height: 3rem;
        font-size: 1.4rem;
    }
    .container-info_home .footer {
        margin-top: 1rem;
        font-size: 1rem;
        color: #fff;
        font-weight: 400;
    }
    .menuBtn {
        display: block; /* Mostrar solo en dispositivos móviles */
    }
    #menuMobile {
        display: none; /* Ocultar en tabletas y pantallas grandes */
    }

    /*  ESTILO AL BOTON MENU HAMBURGUESA */
#menuMobile {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido hacia la derecha */
    position: fixed;
    top: 0;
    right: 0; /* Cambiado de "left" a "right" para ubicarlo en el lado derecho */
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    padding-top: 50px;
    text-align: left; /* Alinea el texto hacia la izquierda */
}
/* ESTILO AL BOTON MENU HAMBURGUESA */




#menuMobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Ajusta la lista como un flex container */
    flex-direction: column; /* Muestra los elementos en forma de columna */
    margin-right: 12px;
}

#menuMobile ul li {
    margin-bottom: 16px;
}

#menuMobile ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

/*  ESTILO AL BOTON CERRA MENU HAMBURGUESA */
#closeMenuBtn {
    position: absolute; /* Posiciona el botón de cierre de manera absoluta dentro del menú */
    top: 10px; /* Ajusta la posición vertical */
    right: 10px; /* Ajusta la posición horizontal */
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    font-size: 24px; /* Tamaño de fuente */
    color: #fff; /* Color del texto */
    cursor: pointer; /* Cursor de puntero */
    outline: none; /* Quita el contorno al hacer clic */
}
}
















    
